/* Error: $color: theme-color(primary) is not a color.
 *    ,
 * 15 |     @include alert-variant(rgba(theme-color($color), .2), theme-color-level($color, 1), theme-color-level($color, 3));
 *    |                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   ../common/light/components/_bootstrap-alerts.scss 15:28  @import
 *   ../common/light/common.scss 169:9                        @import
 *   style.scss 1:9                                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: theme-color(primary) is not a color.\a    \2577 \a 15 \2502      @include alert-variant(rgba(theme-color($color), .2), theme-color-level($color, 1), theme-color-level($color, 3));\a    \2502                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   ../common/light/components/_bootstrap-alerts.scss 15:28  @import\a   ../common/light/common.scss 169:9                        @import\a   style.scss 1:9                                           root stylesheet";
}
